[submodule "thirdParty/fluentui-emoji"]
	path = thirdParty/fluentui-emoji
	url = https://github.com/microsoft/fluentui-emoji
[submodule "thirdParty/noto-emoji"]
	path = thirdParty/noto-emoji
	url = https://github.com/googlefonts/noto-emoji
[submodule "thirdParty/twemoji"]
	path = thirdParty/twemoji
	url = https://github.com/jdecked/twemoji
